<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <table align="center" border="1" cellpadding="0" cellspacing="0" width="600>
          <tr>
            <td>
              <table align="center" border="1" cellpadding="0" cellspacing="0" width="650">
                <tr>
                      <td align="center" bgcolor="#ffff" style="color: #ffff; font-family: 'Roboto'">
                        <img
                          src="https://www.triangulo.us/wp-content/themes/triangulo/images/menu_logo.png"
                         
                          height="200"
                          style="display: block;"
                        />
                      </td>
                </tr>
                <tr>
                  <td class="body" bgcolor="#D7D9CB" style="font-family: 'Roboto'" >
                    <br>{{{user}}}
                    <br>{{{body1}}}
                    <br>{{{body2}}}
                    <a href="{{link}}">
                        Click this.
                      </a>
                    </h3>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>